# -*- coding: utf-8 -*-

# var/scratchpad/secrets.py
secrets.py
etc/config/secrets.py
**/secrets.py
/**/secrets.py
.ipynb_checkpoints
.pytest_cache

mongodb-for-python-for-developers

# Pycharm
.idea

/**/*.tdb.json

lib/
lib64/
#var/
gc3_query/var/*.zip
gc3_query/var/bookstore
gc3_query/var/mongodb*
gc3_query/var/config
gc3_query/var/api_specs
gc3_query/opt/scripts/key_store
gc3_query/var/scratchpad

# Package subdirs
!gc3_query/lib/
!gc3_query/lib64/
!gc3_query/etc/
# !gc3_query/var/
!gc3_query/bin/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# pyenv python configuration file
.python-version
/gc3_query/var/scratchpad/instances_db.json
/gc3_query/var/mongodb/data
/gc3_query/var/mongodb/logs

/gc3_query/opt/reference/oci-cli
/gc3_query/opt/reference/oci-python-sdk

/gc3_query/opt/reference/bravado_10.1.0
/gc3_query/opt/reference/bravado_core_5.0.4
/tests/iaas_classic/**/output
!/gc3_query/var/open_api_catalog/**
!/gc3_query/**/open_api_catalog
!/gc3_query/var/beta_01/**
/gc3_query/tmp
