click
requests
cookiecutter
pymongo
mongoengine
cryptography
keyring
toml
maya
bravado
Logbook
dataclasses

## Extra from the OCI SDK/client
appdirs
arrow
httpsig-cffi
jinja2
jmespath
ndg-httpsclient
pluggy
pyOpenSSL
pyparsing
retrying
terminaltables