# [eharris@win10aulaptop:master gc3-query]$ conda install -y --dry-run --file requirements.txt
# Solving environment: failed
# 
# PackagesNotFoundError: The following packages are not available from current channels:
# 
#   - requestium
#   - aiobravado
#   - melddict
#   - bravado
#   - prettyprinter
#   - msgpack
#   - logbook

Click>=6.0
colorama
voluptuous
dataclasses
requests>=2.18.0
selenium
cookiecutter
beautifulsoup4
pymongo
mongoengine
jinja2-time
httpie
cryptography
keyring
toml
cachetools
maya
pytest
xonsh