click==6.7
requests==2.19.1
cookiecutter==1.6.0
pymongo==3.7.1
mongoengine==0.15.3
cryptography==2.3.1
keyring==15.1.0
toml==0.9.6
maya==0.5.0
bravado
Logbook
dataclasses

## Extra from the OCI SDK/client
appdirs
arrow
httpsig-cffi
jinja2
jmespath
ndg-httpsclient
pluggy
pyOpenSSL
pyparsing
retrying
terminaltables