click==6.7
requests==2.19.1
cookiecutter==1.6.0
pymongo==3.7.1
mongoengine==0.15.3
cryptography==2.3.1
keyring==15.1.0
toml==0.9.6
maya==0.5.0
bravado==10.0.1
Logbook==1.4.0
dataclasses==0.6

## Extra from the OCI SDK/client
appdirs==1.4.3
arrow==0.12.1
httpsig-cffi==15.0.0
jinja2==2.10
jmespath==0.9.3
ndg-httpsclient==0.5.1
pluggy==0.7.1
pyOpenSSL
pyparsing
retrying
terminaltables