systemLog:
   destination: file
   path: {{ cookiecutter.mongodb_service_log_file }}
   logAppend: true
storage:
   directoryPerDB: true
   dbPath: {{ cookiecutter.mongodb_data_dir }}
   journal:
      enabled: true
net:
   bindIp: {{ cookiecutter.listen_ip }}
   port: {{ cookiecutter.listen_port }}
